/* Universal Styles */

html {
  font-size: 18px;
}
body {
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: bold;
}

.flex-container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  position: relative;
  top: 1rem;
  width: 960px;
  background-color: cadetblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  z-index: 1;
  height: 3rem;
  align-items: center;
}

header .flex-container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

header img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 1rem 2rem 1rem 1rem;
}


.menu {
  display: none;
}

/* main banner */

.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  margin-top: 0;
}

.content .flex-container {
    justify-content: flex-end;
    width: 960px;
}

.content {
  display: flex;
  position: relative;
  top: 10rem;
  margin-left: 43%;
  margin-right: -2rem;
  background-color: white;
  height: 3rem;
  text-align: center;
  justify-content: center;
  padding: 1.5rem 2.5rem .75rem 2.5rem;
}


.content span {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* store */

 #middle, .products, .idea {
   display: flex;
   justify-content: center;
   width: 960px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

#paper.product img {
   width: 3.5rem;
   padding-right: .75rem;
   padding-left: .75rem;
   margin-bottom: 1rem;
}

#ruler.product img {
  margin-bottom: 2.8rem;
}

.product img {
  width: 5rem;
  margin-bottom: 2.25rem;
}

.description {

  text-align: center;
  margin-bottom: 3rem;
  color: gray;
}

.flex-container.idea {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
}

.appointment {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.info {
  display: block;
  justify-content: center;
  text-align: left;
  width: 35%;
  padding-right: 5%;
  margin-bottom: 5rem;
}

#glasses {
  display: block;
  justify-content: center;
  margin-right: 4rem;
  margin-left: 4rem;
  width: 0 auto;
  background-color: azure;
  height: 9.5rem;
}

footer img {
padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
  color: gray;
  align-self: center;
}

#glasses, #glasses span {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

#glasses span {
  padding-top: 4rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 1024px) { header { height: 22rem; padding-top: 0;} nav.flex-contain { max-width: 100%;} .main-banner { padding: .75rem 4rem; margin-top: 5rem; margin-right: 2rem;} .main-banner h1 { font-size: 1.33rem;}}

@media only screen and (max-width: 700px) { .menu ul { display: none;} .menu ul.truncated-menu { display: block;}}

@media only screen and (max-width: 560px) { header div span {display: none;} header { background-position: 20%; height: 17rem;} .main-banner { width: 100%; padding: 0 1rem; margin: 9rem auto 0 auto; text-align: center;} .main-banner h1 { font-size: 1rem;}}

@media only screen and (max-width: 560px) { .supporting {flex-direction: column; justify-content: flex-start; align-items: center; margin-top: 3rem;}}

@media only screen and (max-width: 560px) { .service { height: auto; margin: .77rem; font-size: .77rem;}}

@media only screen and (max-width: 560px;) { .info { width: 100%;} .info .title { width: 100%; max-width: none; margin-right: 0; text-align: center;} .info p { padding: 1rem; font-size: .77rem;}}

@media only screen and (max-width: 560px;) { footer { justify-content: center;} footer div {display: none;}}
